package courses

import (
	types "github.com/svachaj/sambar-wall/db/types"
)

templ CoursesList(coursesTypes []types.CourseType, isAuthenticated bool) {
	<div class="mx-auto container flex flex-col justify-start items-center px-1">
		for _, course := range coursesTypes {
			@CourseTile(course)
		}
	</div>
}
