package courses

import "time"

templ CourseTile(courseName string, validFrom, validTo time.Time) {
	<div class="flex flex-col max-w-64 min-w-64 min-h-40 max-h-40 dark:bg-stone-700 bg-stone-100 border px-2 py-4 rounded-lg shadow-lg">
		<div class="text-lg font-bold text-neutral-800 dark:text-neutral-200">
			{ courseName }
		</div>
		<div class="text-base text-neutral-800 dark:text-neutral-200">
			{ validFrom.Format("02.01. 2006") } - { validTo.Format("02.01. 2006") }
		</div>
	</div>
}
