package courses

import "github.com/svachaj/sambar-wall/modules/layouts"

templ CoursesPage(cmp templ.Component, isAuthenticated bool, isAdmin bool) {
	@layouts.BaseLayout(isAuthenticated, isAdmin) {
		@cmp
	}
}
