package home

import "github.com/svachaj/sambar-wall/modules/layouts"

templ HomeIndex() {
	<section class="mx-auto w-fit flex flex-col gap-8 text-center">
		<h1 class="text-5xl font-bold text-gray-800 dark:text-gray-200">Lezecká stěna Kladno - Kroužky</h1>
		<p class="text-2xl font-thin text-gray-800 dark:text-gray-200">
			Tady bude seznam kroužků
		</p>
	</section>
}

templ Home(
        cmp templ.Component,
    ) {
	@layouts.BaseLayout(false) {
		@cmp
	}
}
